<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <!-- Dashboard -->
    <div class="dashboard">
      <!-- Menu -->
      <div class="menu flex-c">
        <div class="navigation">
          <div class="icon">
            <ion-icon name="filter-circle-outline"></ion-icon>
          </div>

          <div class="icon">
            <ion-icon name="file-tray-full-outline"></ion-icon>
          </div>

          <div class="icon">
            <ion-icon name="mail-unread-outline"></ion-icon>
          </div>

          <div class="icon">
            <ion-icon name="pulse-outline"></ion-icon>
          </div>

          <div class="icon">
            <ion-icon name="storefront-outline"></ion-icon>
          </div>
        </div>

        <div class="settings">
          <div class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </div>
        </div>
      </div>
      <!-- End Menu -->

      <div class="content">
        <!-- Main Content -->
        <div class="main-content">
          <!-- Head -->
          <div class="head flex">
            <h1>👋 Admin Dashboard 👋</h1>

            <div class="box flex time-period">
              Monthly
              <ion-icon class="angle" name="caret-down-outline"></ion-icon>
            </div>

            <div class="box flex">
              <ion-icon name="search-outline"></ion-icon>
            </div>
          </div>
          <!-- End Head -->

          <!-- Stats -->
          <div class="stats flex">
            <div class="stats box sales">
              <h2 class="heading">Sizes</h2>
              <canvas id="sizes"></canvas>
            </div>

            <div class="stats-box earning">
              <h2 class="heading">Favorite Colors</h2>
              <div class="earning-amount flex-c">

              </div>
              <canvas id="earning"></canvas>
            </div>
          </div>

          <!-- Product Stats -->
          <div class="product-stats flex">
            <div class="product-sales stats-box">
              <h2 class="heading">Styles</h2>
              <canvas id="products"></canvas>
            </div>

            <div class="top-selling stats-box">
              <h2 class="heading">Survey Participants</h2>

              <table class="top-selling-products" height="100%" width="100%">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Age</th>
                
                </tr>

                <% users.forEach(function(user) { %>
                  <tr>
                
                    <td><%= user["id"] %></td>
                    <td>
                      <div class="product-name flex">
                        <p><%= user["firstName"] + " " + user["lastName"]%></p>
                      </div>
                    </td>
                    <td><%= user["gender"] %></td>
                    <td><%= user["age"] %></td>
                  
                  
                  </tr>
                <% }); %>
              </table>
            </div>
          </div>
          <!-- End Product Stats -->

          <!-- End Stats -->
        </div>
        <!-- End Main Content -->

        <!-- Profile -->
        <div class="profile">
          <div class="title flex">
            <h2 class="heading">Profile</h2>
            <div class="icon">
              <ion-icon name="notifications-outline"></ion-icon>
            </div>
          </div>

          <div class="user">
            <img src="https://raw.githubusercontent.com/programmercloud/analytic-dashboard/main/img/avatar.png" alt="" />
            <h2>Ellie Gang</h2>
            <p>Metaverse Manager</p>
          </div>

          <div class="activities">
            <div class="title flex">
              <h2 class="heading">Activity</h2>
              <p>View All</p>
            </div>
          </div>

          <div class="activity flex">
            <div class="icon">
              <ion-icon name="wallet-outline"></ion-icon>
            </div>

            <div class="task">
              <h2>Earning Widrawal</h2>
              <p>$125</p>
            </div>
            <div class="time">11:30 AM</div>
          </div>

          <div class="activity flex">
            <div class="icon">
              <ion-icon name="wallet-outline"></ion-icon>
            </div>

            <div class="task">
              <h2>Website Taxes</h2>
              <p>$95</p>
            </div>
            <div class="time">12:20 AM</div>
          </div>

    
        </div>
        <!-- End Profile -->
      </div>
    </div>

</a>
    <!-- End Dashboard -->
    <!-- Ion Icons Js -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>

    <!-- Chart JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- JS -->
    <script>
      const earning = document.getElementById("earning");
      Chart.defaults.color = "#927685";
      Chart.defaults.borderColor = "#33202c";
    
      let colors = '<%- JSON.stringify(colors) %>'
      colors = JSON.parse(colors)
      
      labels = []
      data = []
      for(var i = 0; i<colors.length; i++) {
        console.log(colors[i])
        labels[i] = colors[i].favoriteColor
        data[i] = colors[i].count
      }
      

      new Chart(earning, {
        type: "line",
        data: {
          labels: labels,
          datasets: [
            {
              data: data,
              backgroundColor: ["rgba(155,128,151,1"],
              hoverBackgroundColor: "#ff90b8",
            },
          ],
        },

        options: {
          responsive: true,
          plugins: {
            legend: {
              display: false,
            },
          },
        },
      });
   

    const sizes = document.getElementById("sizes");
    let size = '<%- JSON.stringify(size) %>'
    size = JSON.parse(size)
    console.log(size)
    new Chart(sizes, {
         type: 'polarArea',
         data: {
            labels: ["XS", "S", "M", "L", "XL"],
            datasets: [{
               data: [size["xs"], size["s"], size["m"], size["l"], size["xl"]],
               backgroundColor: ['yellow', 'aqua', 'pink', 'lightgreen', 'gold', 'lightblue'],
            }],
         },
         options: {
            responsive: true,
         },
      });


  const products = document.getElementById("products");
  let styles = '<%- JSON.stringify(styles) %>'
  styles = JSON.parse(styles)
  console.log(styles)
  keys = Object.keys(styles)
  console.log(keys)
  values = Object.values(styles)
  

   new Chart(products, {
  type: "doughnut",
  data: {
    labels: keys,
    datasets: [
      {
      
        data: values,
        backgroundColor: [
          "rgba(155,128,151,1",
          "rgba(254,111,162,1",
          "rgba(244,164,111,1)",
          "rgba(255, 135, 0, 1)"
      
        ],
        hoverBackgroundColor: "#ff90b8",
      },
    ],
  },

  options: {
    responsive: true,
  },
});

   </script>

  </body>
</html>
  